[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
keyboard = "*"
black = "*"
ruff = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pipenv-tools = "*"
types-keyboard = "*"
types-pyautogui = "*"

[dev-packages]
black = "*"
ruff = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pipenv-tools = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
